{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block css %}
	<link href="{% static 'css/manage.css' %}" rel="stylesheet" type="text/css" >
	{% endblock %}
	<title>회원 관리</title>

</head>
<body>
    {% block content %}
	{% if is_autenticated %}
	gogo
	{% endif %}
    <p id="manage.html"></p>
    <div class="main">
        <div class="container">            
            <div class="list-con">
                <ul class="sublist-tab">
                    <li class="moving-tab" id="horizontal-tab"></li>
                    <li class="sl-st on" onclick="">
                        <a href="#">가입 승인 및 권한 관리</a>
                    </li>
                </ul>
                <div class="table-list">
                     <div class="tbtop-con">
                        <h3>가입 및 승인 권한 관리</h3>
                        <div class="serch-box">
                            <input type="text" placeholder="검색어를 입력하세요.">
                        </div>
                     </div>
                     <div class="table-wrap">
                        <table class="common-table retouch-table">
                            <colgroup>
                            	<col width="7%"/>
                            	<col width="7%"/>
                            	<col width="24%"/>
                            	<col width="24%"/>
                            	<col width="16%"/>
                            </colgroup>
                            <thead>
                                 <tr>
                                    <th><span class="th-check"><input type="checkbox" name="selectBox" onclick=""></span></th>
                                    <th><span>번호</span></th>
                                    <th><span>아이디</span></th>
                                    <th><span>고유번호</span></th>
                                    <th><span>가입요청일</span></th>
                                 </tr>
                            </thead>
                            <tbody>
                                {% for i in users %}
                                <tr>
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>{{ forloop.counter }}</td>
                                    
                                    <td>{{i.username}}</td>                                   
                                    <td>{{i.id}}</td>                                    
                                    <td>{{i.date_joined}}</td>      
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagenation">
							<ul style="margin:15px; display:flex; justify-content:center; list-style: none; font-size: 20px;">
								{% if users.has_previous %}
								<li style="margin:5px;"><a style="text-decoration:none; color: #2B72FF;" href="?page={{users.previous_page_number}}">&#10094;</a></li>
								{% endif %}

								{% for page in users.paginator.page_range %}
								{% if page == users.number %}
									<li style="margin:5px;"><a style="text-decoration:none; color: white; background-color: #2B72FF; padding:5px; border-radius:5px" href="?page={{page}}">{{page}}</a></li>
								{% else %}
									<li style="margin:5px;"><a style="text-decoration:none; color: #2B72FF;" href="?page={{page}}">{{page}}</a></li>
								{% endif %}
								{% endfor %}

								{% if users.has_next %}
								<li style="margin:5px;"><a style="text-decoration:none; color: #2B72FF;" href="?page={{users.next_page_number}}">&#10095;</a></li>
								{% endif %}

							</ul>
						</div>
                     </div>
                     <div class="pagenation">
                     	
                     </div>
                     
                     <!-- 하단버튼 -->
                     <div class="btn-wrap">
                     	<button type="button" id="delect" class="sub-btn common-btn" onclick="">선택목록 삭제</button>
                     	<button type="button" class="main-btn common-btn" onclick="">선택목록 저장</button>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 삭제 모달  -->
    <div id="delectModar" class="modar-bk">
        <div class="modar-wrap delect-md">
            <div class="modar-header">
                <p>삭제</p>
                <div onclick="" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
            </div>	
            <div class="modar-con">
                <h2>선택한 회원을 삭제하시겠습니까?</h2>
                <div class="mdbtn-wrap">
                    <button id="cancelBtn" onclick="">취소</button>
                    <button id="delectBtn">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 저장 모달  -->
    <div id="saveModar" class="modar-bk">
        <div class="modar-wrap save-md">
            <div class="modar-header">
                <p>확인</p>
                <div onclick="" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
            </div>	
            <div class="modar-con">
                <h2>선택한 회원의 저장이 완료되었습니다.</h2>
                <div class="mdbtn-wrap">
                    <button class="okBtn" onclick="">확인</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
{% block js %}
<script src="{% static 'js/manage.js' %}"></script>
{% endblock %}
</html>
