    <div class="main">
        <div class="container">
            <div class="setupCon">
            	<div class="setupWrap">
            		<div class="toptitBox">
            			<div class="left-icon">
            				<img src="/static/image/member-icon.png" alt="">
            				<h1>가입 회원</h1>
            			</div>
            			<p><span class="num-case">2</span>건</p>
            		</div>
            		<div class="setupList">
            			<div class="list-titBox">최근 가입 요청 회원</div>
            			<ul class="dataList">
                            <li>test</li>
            				<li>test</li>
            			</ul>
            		</div>
            	</div>
            	<div class="setupWrap">
            		<div class="toptitBox">
            			<div class="left-icon">
            				<img src="/static/image/object-icon.png" alt="">
            				<h1>오브젝트</h1>
            			</div>
            			<p><span class="num-case">2</span>건</p>
            		</div>
            		<div class="setupList">
            			<div class="list-titBox">최근 등록한 오브젝트</div>
            			<ul class="dataList">
                            <li>test</li>
            				<li>test</li>
            			</ul>
            		</div>
            	</div>
            	<div class="setupWrap">
            		<div class="toptitBox">
            			<div class="left-icon">
            				<img src="/static/image/link-icon.png" alt="">
            				<h1>링크</h1>
            			</div>
            			<p><span class="num-case">2</span>건</p>
            		</div>
            		<div class="setupList">
            			<div class="list-titBox">최근 가입 요청 회원</div>
            			<ul class="dataList">
                            <li>test</li>
            				<li>test</li>
            			</ul>
            		</div>
            	</div>
            </div> 
        </div>
    </div>