{% extends 'navVertical.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <script type="text/javascript">
            const graphData = JSON.parse('{{ graphData|escapejs }}');
            const root = '{{ root|escapejs }}';
            console.log('Test Data:', JSON.stringify(graphData, null, 2));

            if(root!=="none"){
                if (Array.isArray(graphData) && graphData.length === 0) {
                    const testData = {
                    name: root
                    }; 
                    window.testData = testData;
                } else {
                    const testData = {
                    name: root,
                    children: graphData
                    }; 
                    window.testData = testData;
                }

                console.log('Test Data:', JSON.stringify(testData, null, 2));
            }   
        </script>
        {% endblock %}
        <title>회원 관리</title>
    </head>
    <body>
        {% block content %}
        <div id="main_home">    
        <div id="home_search_object">
            <div id = "search_block">
            <p style="color: white;"><strong>그룹</strong></p></div>
            <div>
                <ul class="dataList">
                {% for group in groupList %}
                    <li id="test" class="hoo"><a href="{% url 'mainpages:home' group.name %}">{{group.name}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div id="container"></div>
        </div>
        <script src="{% static 'js/home.js' %}" type="module"></script>
        {% endblock %}
    </body>
</html>