{% extends 'navVertical.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        {% endblock %}
        <title>회원 관리</title>
    </head>
    <body>
        {% block content %}
        <div id="main_home">    
        <div id="home_search_object">
            <div id = "search_block">
            <p style="color: white;"><strong>그룹</strong></p></div>
            <div>
                <ul class="dataList">
                {% for group in groupList %}
                    <li id="test" class="hoo">{{group.name}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div id="container"></div>
        </div>
        <script src="{% static 'js/home.js' %}" type="module"></script>
        {% endblock %}
    </body>
</html>