body {
    background-color: #F4F6FA;
}
#main_home {
    display: flex;
    width: 79vw;
    height: 85vh;
    padding-top: 5%;
}
#home_search_object{
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    width: 20%;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(28,66,142, 15%);
}
#search_block{
    background-color: #2B72FF;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    background-color: white;
    width: 75%;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(28,66,142, 15%);
}
.dataList{
    display: inline;
    list-style-type: none;
    overflow-y:auto;
}
.dataList > li{
    margin: 10px;
    margin-top: 5px;
    border-radius: 3px;
    display: flex;
    height: 40px;
    border: solid 1px;
    border-color: #C7CDD8;
    justify-content: center;
    align-items: center;
}