.linkmag-tit{
    margin-top:28px;
    font-size:24px;
    font-weight:800;
}
#magContainer{
    display:flex;
    margin-top:10px;
    column-gap:24px;
}
.objLeft-wrap{
    min-width:252px;
    height:100%;
    background:#fff;
    box-shadow: 0px 0px 10px rgba(28,66,142, 15%);
    border-radius:6px;
}
.top-start{
    display:flex;
    align-items:center;
    gap:16px;
    margin-bottom:16px;
}
.top-start .saveBtn{
    min-width:140px;
    height:52px;
    background:#fff;
    /* border:1px solid #2B72FF; */
    color:#2B72FF;
    border-radius:6px;
    font-weight:600;
    font-size:18px;
    transition:all .2s;
    box-shadow: 0px 0px 10px rgba(28,66,142, 15%);
}
.top-start .saveBtn:hover{
    color:#fff;
    background:#2B72FF;
}
.standard-obj{
    display:flex;
    width:100%;
    height:52px;
    background:#fff;
    box-shadow: 0px 0px 10px rgba(28,66,142, 15%);
    border-radius:6px;
    align-items:center;
    padding:6px;
}
.standard-obj > h3{
    min-width:200px;
    height:100%;
    line-height:40px;
    color:#2b72ff;
    background:#eff5ff;
    border-radius:4px;
    text-align:center;
    font-weight:600;
}
.standard-obj > .top-tit{
    height:40px;
    background:#373F57;
    border-radius:5px 5px 0 0;
    line-height:39px;
    text-align:center;
    color:#fff;
    font-weight:600;
}
.standard-obj > .drop-box{
    display:flex;
    width:100%;
    align-items:center;
    padding:10px 20px;
}
.standard-obj > .drop-box > .dragBox{
    width:184px;
    margin-bottom:0;
}
.standard-obj > .obj-btnbox{
    border-top:0;
    padding:8px;
}
.obj-header{
    position:relative;
    width:100%;
    border-radius:6px 6px 0 0;
    text-align:center;
    background:#2B72FF;
    padding:0;
    color:#fff;
    font-weight:600;
}
.obj-header > .reset-btn{
    position:absolute;
    width:28px;
    height:28px;
    background:#fff;
    border-color:#C7CDD8;
    border-radius:4px;
    top:6px;
    right:10px;
    padding:6px;
    cursor:pointer;
}
.obj-header > .reset-btn > img{
    position: relative;
    top:-9px;
    left: -9px;
    width:100%;
    height: 100%;
}
.obj-serch{
    position:relative;
    padding:8px 10px;
    border-bottom:1px solid #D7DCE5;
}

.obj-serch > input{
    width:100%;
    height:32px;
    border:1px solid #D7DCE5;
    border-radius:4px;
    padding:0 10px;
    font-size:14px;
}
.obj-serch > p:after{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url(/static/img/serch-icon.png) no-repeat center;
    background-size: contain;
    top: 50%;
    right: 20px;
    transform:translateY(-50%);
}
.obj-btnbox{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    column-gap:8px;
    padding:6.5px 10px;
    border-top:1px solid #D7DCE5;
}
.dad-wrap{
    display:flex;
    height:563px;
    overflow-y:auto;
    padding:20px 34px;
    flex-flow:column;
    row-gap:8px;
}
.dragBox{
    position:relative;
    width:100%;
    height:32px;
    min-height:32px;
}
.dragBox > input[type="checkbox"]{
    width:100%;
    height:100%;
}
 #magContainer .dragBox > input[type="checkbox"]:after{
    display:none !important;
}
.dragBox > input[type="checkbox"]:checked{
    box-shadow:3px 3px 6px rgba(55,63,87, 20%);
    background:#fff;
}
.dragBox > input[type="checkbox"]:checked + label{
    color:#2B72FF;
    font-weight:800;
}
.dragBox > input[type="checkbox"]:disabled{
    background:#C7CDD8;
}
.dragBox > input[type="checkbox"]:disabled + label{
    color:#A1A9B8;
}
 .dragBox > .drag-list{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:14px;
    cursor:pointer;
}
.obj-btnbox > button{
    width:88px;
    height:30px;
    font-size:14px;
    transition:all .2s;
    border-radius:4px;
    font-weight:500;
}
.obj-btnbox > .all-select{
    border:1px solid #2B72FF;
    color:#2B72FF;
}
.obj-btnbox > .all-select:hover{
    background:#2B72FF;
    color:#fff;
}
.obj-btnbox > .delect{
    background:#9099AB;
    color:#fff;
}
.obj-btnbox > .delect:hover{
    background:#373F57;
}
.objRight-wrap{
    width:100%;
    height:auto;
    background:#fff;
    box-shadow: 0px 0px 10px rgba(28,66,142, 15%);
    border-radius:6px;
    padding:20px;
}
.link-flwrap{
    display:flex;
    justify-content:space-between;
    /* border-bottom:1px solid #C7CDD8; */
    padding-bottom:8px;
    column-gap:20px;
}
.link-flwrap>li{
    width:100%;
    border:1px solid #D7DCE5;
    border-radius:6px;
}
.relate-obj>h3{
    height:40px;
    line-height:39px;
    border-radius:5px 5px 0 0;
    text-align:center;
    font-weight:600;
    background:#f6f6f6;
}
.relate-obj > .obj-serch > input{
    height:28px;
}
.relate-obj > .drop-box{
    display:flex;
    height:86px;
    flex-wrap:wrap;
    padding:10px 20px;
    overflow-y:auto;
    justify-content:space-between;
    gap:8px;
}
.relate-obj > .drop-box > .dragBox{
    width:32.3%;
}
.linkObj{
    display:flex;
    margin-top:10px;
    justify-content:space-between;
}
.linkObj > li{
    width:232px;
}
.linkObj > li .obj-serch{
    border-bottom:0;
}
.folder-tit{
    position:relative;
    width:60%;
    border-radius:3px 3px 0 0;
    border-right:28px solid transparent;
    border-bottom:32px solid #f6f6f6;
}
.folder-tit>span{
    position:absolute;
    left:28px;
    top:8px;
    font-weight:600;
}
.color-line{
    height:20px;
    border:3px solid #A06EE6;
    left:0 !important;
    border-radius:0 3px 3px 0;
}
#level-box2 .color-line{
    border:3px solid #002170;
    
}
#level-box3 .color-line{
    border:3px solid #00D285;
    
}
.folder-list{
    background:#f6f6f6;
    border-radius:0 4px 4px 4px;
}
.under-wrap{
    background:#fff;
    border:1px solid #C7CDD8;
    border-radius:4px;
}
.folder-list .drop-box{
    display:flex;
    height:176px;
    overflow-y:auto;
    padding:10px;
    flex-flow:column;
    row-gap:8px;
}
.linkmg-btn{
    margin-top:12px;
    text-align:right;
}
.linkmg-btn > button{
    width:124px;
    height:40px;
    border:1px solid #2B72FF;
    color:#2B72FF;
    border-radius:4px;
    font-size:16px;
    transition:all .2s;
    font-weight:500;
}
.linkmg-btn > button:hover{
    background:#2B72FF;
    color:#fff;
}


/* 연결오브젝트 비활성화일때 css */
.linkObj > li.off > .folder-tit{
    border-bottom:32px solid #C7CDD8;
}
.linkObj > li.off > .folder-tit > span{
    color:#AEB6C6;
}
.linkObj > li.off > .folder-list{
    background:#C7CDD8;
}
.linkObj > li.off input[type="text"]:disabled::placeholder{
    color:#AEB6C6;
}
.linkObj > li.off input[type="text"]:disabled{
    background:#EAEDF4;
    
}
.linkObj > li.off .drop-box,
.linkObj > li.off .obj-btnbox{
    background:#EAEDF4;
}
.linkObj > li.off .drop-box{
    border-radius:4px 4px 0 0;
}
.linkObj > li.off .obj-btnbox{
    border-radius:0 0 4px 4px;
}
.linkObj > li.off .obj-btnbox > button{
    background:#C7CDD8;
    border:none;
    color:#fff;
}