#horizontal-tab{
    width:114px !important;
}

.additme-md{
    height:auto;
}
.disabled-md{
    height:206px;
}
.iputWrap{
    padding-bottom:24px;
    border-bottom: 1px solid #C7CDD8;
}

.inputList{
    display:flex;
    align-items:flex-end;
    column-gap:10px;
}
.inputList>li{
    width:100%;
    margin-top:20px;
}
.inputList>li>p{
    font-size:14px;
    font-weight:700;
    margin-bottom:6px;
}
.inputList>li select{
    width:100%;
    height:32px;
    border-radius:4px;
    border:1px solid #C7CDD8;
}
.inputList>li>input[type="text"]{
    height:32px;
    width:100%;
    border:1px solid #C7CDD8;
    border-radius:4px;
    padding:0 8px;
}

.inputList .radio-choose{
    display:flex;
    align-items:center;
    gap:4px;
    height:32px;
    border:1px solid #C7CDD8;
    border-radius:4px;
    padding:0 10px;
    background:#EAEDF4;
    color:#6B768B;
    cursor:pointer;
}
.inputList .radio-choose span{
    font-size:14px;
    font-weight:500;
}
.inputList .radio-choose.on{
    background:#EFF5FF;
    color:#2B72FF;
    border-color:#2B72FF;
}

.itemWrap{
    display:none;
    max-height:120px;
    overflow-Y:auto;
    margin-top:8px;
    
}
.item-flex{
    display:flex;
    gap:10px;
    margin-bottom:8px;
}
.item-input{
    display:flex;
    width:100%;
    height:32px;
    align-items:center;
    border-radius:4px;
}
.item-input > .item-num{
    min-width:64px;
    height:100%;
    line-height:32px;
    text-align:center;
    background:#6B768B;
    border-radius:4px 0 0 4px;
    color:#fff;
    font-size:14px;
    font-weight:600;
}
.item-input > input{
    width:100%;
    height:100%;
    border:1px solid #C7CDD8;
    border-radius:0 4px 4px 0;
    margin:2px 0;
    padding: 0 10px 0 8px;
    border-left:0 !important;
}
.item-input > input:focus{
    border:1px solid #373F57 !important;
    border-left:0 !important;
}
.item-btnwrap{
    display:flex;
    gap:6px;
}
.item-btnwrap>button{
    width:68px;
    border-radius:4px;
    font-size:14px;
    transition:all .2s;
}