#horizontal-tab{
    width: 82px;
}
.list-con{
    min-height:738px;
}
/* 등록 */
.objr-table{
    height: 442px;
    font-size: 16px !important;
}

.img-upload{
    display: none;
} 

.img-regist{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    /* border-radius: 50%;
    background: #fafafa; */
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.img-regist > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border-radius: 50%; */
}

.rgbtn-txt{
    font-weight: 500;
    font-size: 16px;
}

.obji-wrap{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.obj-inf{
    width: 80%;
}

.obj-inf>li{
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.obj-inf>li:last-child{
    margin: 0;
}

.obj-inf>li > .inf-tbox{
    width: 160px;
    height:40px;
    line-height: 40px;
    background: #F4F6FA;
    font-weight: 500;
    border-radius: 4px;
}

.obj-inf > li > input{
    width: 75%;
    outline: none;
    border: 1px solid #C7CDD8;
    border-radius: 4px;
    padding: 0 10px;
}

.obj-inf > li > select{
    height: 40px !important;
}