{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{% block css %}
		<link href="{% static 'css/linkList.css' %}" rel="stylesheet" type="text/css" >
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
		{% endblock %}
		<title>링크 관리</title>
	</head>
	<body>
		{% if is_authenticated %}
		gogo
		{% endif %}
		{% block content %}
		<p id="linkList.html"></p>
		<div class="main">
			<div class="container">
				<h2 class="linkmag-tit">링크 목록</h2>
				<div id="magContainer">
					<ul id="objLeft-wrap" class="objLeft-wrap">
						<li class="obj-header" style="position:relative; width:100%; height:40px; border-radius:6px 6px 0 0; background:#2b72ff; color:#fff; font-weight:600;">
							<p style="text-align:center; line-height:39px; color:#fff;">오브젝트</p>
							<div class="reset-btn"><img src="/static/img/reset-icon.png" alt=""></div>
						</li>
						<li class="obj-serch">
							<input type="text" placeholder="검색어를 입력하세요.">
							<p></p>
						</li>
						<li class="dad-wrap" id = "object_list">
							<div class="dragBox" draggable="true">
								<input type="checkbox" class="drag-chk" id="drag01" name="drag-chk">
								<label for="drag01" class="drag-list">테스트1 / 체크</label>
							</div>
							<div class="dragBox" draggable="true">
								<input type="checkbox" class="drag-chk" id="drag02" name="drag-chk">
								<label for="drag02" class="drag-list">테스트2 / 체크</label>
							</div>
							<div class="dragBox" draggable="true">
								<input type="checkbox" class="drag-chk" id="drag03" name="drag-chk">
								<label for="drag03" class="drag-list">테스트3 / 체크</label>
							</div>
						</li>
						<li class="obj-btnbox">
							<button type="button" class="all-select" id="selectAll">전체선택</button>
							<button type="button" class="delect">삭제</button>
						</li>
						<li style="padding-top: 10px; padding-left: 10px;">
							<div class="top-start">
								<button type="button" class="saveBtn" style="width: 96%;">저장</button>
							</div>
						</li>
					</ul>
					<div class="link-content" style="width:100%; height: 88vh;">
						<div class="objRight-wrap" style="height: 90%;">
							<p style="margin-top:1px; font-weight:600;">오브젝트 연결</p>
							<ul id="levels" class="linkObj">
								<li id="level-box1" class="level-box" style="width: 40%; margin-top: 40px;">
									<div class="folder-tit">
										<span class="color-line"></span>
										<span>상위 오브젝트</span>
									</div>
									<div class="folder-list" style="padding-top: 10px; height: 46vh;">
										<div style="padding:0 10px 10px 10px;">
											<ul class="under-wrap"style="height: 60vh;">
												<li class="drop-box" style="height: 58vh;">
								
													<!-- More dragBox items... -->
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li id="level-box2" class="level-box" style="width: 40%; margin-top: 40px;">
									<div class="folder-tit">
										<span class="color-line"></span>
										<span>하위 오브젝트</span>
									</div>
									<div class="folder-list" style="padding-top: 10px; height: 46vh;">
										<div style="padding:0 10px 10px 10px;">
											<ul class="under-wrap"style="height: 60vh;">
												<li class="drop-box" style="height: 58vh;">
													<!-- <div class="dragBox" draggable="true">
														<input type="checkbox" class="drag-chk" id="drag00" name="drag-chk">
														<label for="drag00" class="drag-list">테스트0 / 체크</label>
													</div> -->
													<!-- More dragBox items... -->
												</li>
											</ul>
										</div>
									</div>
								</li>
								<!-- More levels... -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
{% block js %}
<script src="{% static 'js/linkList.js' %}"></script>
{% endblock %}
</html>