{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{% block css %}
		<link href="{% static 'css/linkList.css' %}" rel="stylesheet" type="text/css" >
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
		<style>
			.dragBox{
    background: #fff;
    border-radius: 3px;
	width: 100%;
    height: 16px;
    border: 1px solid #C7CDD8;
			}
		</style>
		{% endblock %}
		<title>링크 관리</title>
	</head>
	<body>
		{% block content %}
		<p id="linkList.html"></p>
		<div class="main">
			<form action="{% url 'mainpages:linkList' %}" method ="POST">
			{% csrf_token %}
			<div class="container">
				<div id="magContainer" style="margin-top: 30px;">
					<ul id="objLeft-wrap" class="objLeft-wrap" style="height: 79.3vh;">
						<li class="obj-header" style="position:relative; width:100%; height:40px; border-radius:6px 6px 0 0; background:#2b72ff; color:#fff; font-weight:600;">
							<p style="text-align:center; line-height:39px; color:#fff;">오브젝트</p>
							<div class="reset-btn" id ="re"><img src="/static/img/reset-icon.png" alt=""></div>
						</li>
						<!-- <li class="obj-serch">
							<input type="text" placeholder="검색어를 입력하세요.">
							<p></p>
						</li> -->
						
						<li class="dad-wrap" id = "object_list" style="height: 85%;">
							{% for group in groupList %}
							<div class="dragBox" draggable="true">
								<p for="drag01" class="drag-list"style="text-align:center">{{group.name}}<br>그룹</p>
							</div>
							{% endfor %}
							{% for member in memberList %}
							<div class="dragBox" draggable="true">
								<p for="drag01" class="drag-list" style="text-align:center">{{member.name}}<br>사람</p>
							</div>
							{% endfor %}
						</li>

						<li style="padding-top: 10px; padding-left: 10px;">
							<div class="top-start">
								<button type="button" class="saveBtn" onclick ="saveItems()" style="width: 96%;" id ="link_save">저장</button>
							</div>
						</li>
					</ul>
					<div class="link-content" style="width:100%; height: 88vh;">
						<div class="objRight-wrap" style="height: 90%;">
							<p style="margin-top:1px; font-weight:600;">오브젝트 연결</p>
							<ul id="levels" class="linkObj">
								<li id="level-box1" class="level-box" style="width: 40%; margin-top: 40px;">
									<div class="folder-tit">
										<span class="color-line"></span>
										<span>상위 오브젝트</span>
									</div>
									<div class="folder-list" style="padding-top: 10px; height: 62vh;">
										<div style="padding:0 10px 10px 10px;">
											<ul class="under-wrap"style="height: 60vh;">
												<li class="drop-box" style="height: 58vh;" id ="parent">
								
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li id="level-box2" class="level-box" style="width: 40%; margin-top: 40px;">
									<div class="folder-tit">
										<span class="color-line"></span>
										<span>하위 오브젝트</span>
									</div>
									<div class="folder-list" style="padding-top: 10px; height: 62vh;">
										<div style="padding:0 10px 10px 10px;">
											<ul class="under-wrap"style="height: 60vh;">
												<li class="drop-box" style="height: 58vh;" id = "childe">
		
												</li>
											</ul>
										</div>
									</div>
								</li>
								<!-- More levels... -->
							</ul>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</body>
{% endblock %}
{% block js %}
<script src="{% static 'js/linkList.js' %}"></script>
{% endblock %}
</html>