{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>링크 레벨 관리</title>
	
	{% block css %}
	<link href="{% static 'css/pickr.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'css/linkLevelList.css' %}" rel="stylesheet" type="text/css" >
	{% endblock %}
</head>
<body>
	{% block content %}
	{% if is_autenticated %}
	gogo
	{% endif %}
	<!-- 레벨 추가 모달 -->
	<p id="linkLevelList.html"></p>
	<div id="levelaModar" class="modar-bk">
		<div class="modar-wrap level-md">
			<div class="modar-header">
				<p>그룹 추가</p>
				<div onclick="closeModal();" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
			</div>
			<div class="modar-con2">
                <form action="{% url 'mainpages:linkLevelList' %}" method ="POST">
                    {% csrf_token %}
                    <h2>그룹 추가</h2>
                    <div class="iputWrap">
                        <ul class="inputList">
                            <li>
                                <p>그룹 이름</p>
                                <input type="text" class="levelName" id="groupName" name = "groupName" placeholder="링크 그룹명을 입력하세요.">
                            </li>
                        </ul>
                    </div>
                    <div class="mdbtn-wrap rightSort">
                        <button id="saveBtn" type="submit">저장</button>
                    </div>
                </form>
			</div>
			
		</div>
	</div>
    <form action="{% url 'mainpages:deleteGroup' %}", method="POST">
	<div id="disabledModar" class="modar-bk">
		<div class="modar-wrap disabled-md">
			<div class="modar-header">
				<p>비활성화</p>
				<div onclick="closeModal3();" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
			</div>	
			<div class="modar-con">
                
                    {% csrf_token %}
                    <h2 style="margin-bottom:20px;">선택한 모든 그룹이 삭제됩니다.<br>계속하시겠습니까?</h2>
                    <div class="mdbtn-wrap">
                        <button onclick="closeModal3();" id="cancelBtn">취소</button>
                        <button id="delectBtn">삭제</button>
                    </div>
			</div>
		</div>
	</div>

	<!-- 사이드 바 -->
    <div class="main">
        <div class="container">
            <div class="list-con">
                <ul class="sublist-tab">
                    <li class="moving-tab" id="horizontal-tab"></li>
                    <li class="sl-st on" onclick="sublistTab(0)" style="margin-right:25px;">
                        <a>링크 레벨 목록</a>
                    </li>
                </ul>
                <div class="table-list">
                     <div class="tbtop-con">
                        <h3>링크 레벨 목록</h3>
                        <div class="rsh-sort">
                        	<div class="serch-box">
	                            <input type="text" placeholder="검색어를 입력하세요.">
	                        </div>
	                        <button type="button" class="main-btn" onclick="levelAdd();">그룹 추가</button>
                        </div>
                     </div>
                     <div class="table-wrap">
                        <table class="common-table retouch-table">
                            <colgroup>
                            	<col width="7%"/>
                            	<col width="7%"/>
                            	<col width="25%"/>
                            </colgroup>
                            
                            <thead>
                                 <tr>
                                    <th><span class="th-check"><input type="checkbox" name="selectBox" onclick="selectAll(this)"></span></th>
                                    <th><span>번호</span></th>
                                    <th><span>그룹 이름</span></th>
                                 </tr>
                            </thead>
                            <tbody>
                                {% for group in groupList %}
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" id = "{{forloop.counter0}}box"name="selectBox" value="{{forloop.counter0}}"></td>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{group.name}}</td>                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>
                     <div class="pagenation">
                     	<img src="/static/img/test-pn.png" alt="">
                     </div>
                     
                     <!-- 하단버튼 -->
                     <div class="btn-wrap">
                     	<button type="button" class="sub-btn common-btn" onclick="disabledBtn();">삭제</button>
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	{% endblock %}
</body>
{% block js %}
<script src="{% static 'js/linkLevelList.js' %}"></script>
{% endblock %}
</html>