{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>링크 레벨 관리</title>
	
	{% block css %}
	<link href="{% static 'css/pickr.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'css/linkLevelList.css' %}" rel="stylesheet" type="text/css" >
	{% endblock %}
</head>
<body>
	{% block content %}
	{% if is_autenticated %}
	gogo
	{% endif %}
	<!-- 레벨 추가 모달 -->
	<p id="linkLevelList.html"></p>
	<div id="levelaModar" class="modar-bk">
		<div class="modar-wrap level-md">
			<div class="modar-header">
				<p>레벨 추가</p>
				<div onclick="closeModal();" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
			</div>
			<div class="modar-con2">
				<h2>레벨 추가</h2>
				<div class="iputWrap">
					<ul class="inputList">
						<li>
							<p>링크 레벨 이름</p>
							<input type="text" class="levelName" placeholder="링크 그룹명을 입력하세요.">
						</li>
					</ul>
					<ul class="inputList">
						<li>
							<p>라인 색상( Tap it )</p>
							<div class="pickr-wrap">
								<div class="theme-container"></div>
								<div class="pickr-container"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="mdbtn-wrap rightSort">
					<button id="saveBtn">저장</button>
				</div>
			</div>
			
		</div>
	</div>

	<!-- 레벨 수정 모달 -->
	<div id="levelrModar" class="modar-bk">
		<div class="modar-wrap lev-retouch">
			<div class="modar-header">
				<p>레벨 수정</p>
				<div onclick="closeModal2();" class="close-btn"><img src="{% static 'img/close-icon.png' %}" alt=""></div>
			</div>
			<div class="modar-con2">
				<h2>레벨 수정</h2>
				<div class="iputWrap">
					<ul class="inputList">
						<li>
							<p>링크 레벨 이름</p>
							<input type="text" class="levelName" placeholder="링크 그룹명을 입력하세요.">
						</li>
					</ul>
					<ul class="inputList">
						<li>
							<p>라인 색상( Tap it )</p>
							<div class="pickr-wrap">
								<div class="theme-container"></div>
								<div class="pickr-container"></div>
							</div>
						</li>
					</ul>
					<ul class="inputList">
						<li>
							<p>활성화 여부 선택</p>
							<select>
								<option>Y</option>
								<option>N</option>
							</select>
						</li>
					</ul>
				</div>
				<div class="mdbtn-wrap rightSort">
					<button id="saveBtn">저장</button>
				</div>
			</div>
			
		</div>
	</div>

	<!-- 비활성화  -->
	<div id="disabledModar" class="modar-bk">
		<div class="modar-wrap disabled-md">
			<div class="modar-header">
				<p>비활성화</p>
				<div onclick="closeModal3();" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
			</div>	
			<div class="modar-con">
				<h2 style="margin-bottom:20px;">모든 오브젝트에서 해당 필드가 비활성화 됩니다.<br>계속하시겠습니까?</h2>
				<div class="mdbtn-wrap">
					<button onclick="closeModal3();" id="cancelBtn">취소</button>
					<button id="delectBtn">삭제</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 사이드 바 -->
    <div class="main">
        <div class="container">
            <div class="list-con">
                <ul class="sublist-tab">
                    <li class="moving-tab" id="horizontal-tab"></li>
                    <li class="sl-st on" onclick="sublistTab(0)" style="margin-right:25px;">
                        <a>링크 레벨 목록</a>
                    </li>
                </ul>
                <div class="table-list">
                     <div class="tbtop-con">
                        <h3>링크 레벨 목록</h3>
                        <div class="rsh-sort">
                        	<div class="serch-box">
	                            <input type="text" placeholder="검색어를 입력하세요.">
	                        </div>
	                        <button type="button" class="main-btn" onclick="levelAdd();">레벨 추가</button>
                        </div>
                     </div>
                     <div class="table-wrap">
                        <table class="common-table retouch-table">
                            <colgroup>
                            	<col width="7%"/>
                            	<col width="7%"/>
                            	<col width="25%"/>
                            	<col width="28%"/>
                            	<col width="18%"/>
                            	<col width="15%"/>
                            </colgroup>
                            
                            <thead>
                                 <tr>
                                    <th><span class="th-check"><input type="checkbox" name="selectBox" onclick="selectAll(this)"></span></th>
                                    <th><span>번호</span></th>
                                    <th><span>링크 레벨 이름</span></th>
                                    <th><span>라인 색상</span></th>
                                    <th><span>색상 코드</span></th>
                                    <th><span>활성화 여부</span></th>
                                 </tr>
                            </thead>
                            <tbody>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox">
                                    		<div class="lineColor"></div>
                                    	</div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox">
                                    		<div class="lineColor lineColor2"></div>
                                    	</div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox">
                                    		<div class="lineColor lineColor3"></div>
                                    	</div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                               <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                                <tr class="radius-tr" onclick="levelRetouch();">
                                    <td><input type="checkbox" name="selectBox"></td>
                                    <td>1</td>
                                    <td>LEVER 1</td>                                   
                                    <td>
                                    	<div class="colorBox"></div>
                                    </td>                                    
                                    <td>#A06EE6</td> 
                                    <td>N</td>   
                                </tr>
                            </tbody>
                        </table>
                     </div>
                     <div class="pagenation">
                     	<img src="/static/img/test-pn.png" alt="">
                     </div>
                     
                     <!-- 하단버튼 -->
                     <div class="btn-wrap">
                     	<button type="button" class="sub-btn common-btn" onclick="disabledBtn();">비활성화</button>
                     </div>
                </div>
            </div>
        </div>
    </div>
	{% endblock %}
</body>
{% block js %}
<script src="{% static 'js/linkLevelList.js' %}"></script>
{% endblock %}
</html>