<div id="nav2_scal">
    <div id="usr_manage_t" class="settings_top">
        <p><strong>회원 관리</strong></p>
    </div>
    <div id="object_num_manage_t" class="settings_top">
        <p><strong>오브젝트 항목 관리</strong></p>
    </div>
    <div id="object_manage_t" class="settings_top">
        <p><strong>오브젝트 관리</strong></p>
    </div>
    <div id="link_level_manage_t" class="settings_top">
        <p><strong>링크 레벨 관리</strong></p>
    </div>
    <div id="link_manage_t" class="settings_top">
        <p><strong>링크 관리</strong></p>
    </div>
</div>