<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navVertical.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/setupMain.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navHorizen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}">
</head>

<body>
    <div style="float:left;width:20%">
        <div id="nav_name">
            <p>IMAGE Management</p>
        </div>
        <div class="nav_btn">
            <!--홈 네비-->
            <div id="btn_home">
                <img src="static/img/home.png">
                <p><strong>HOME</strong></p>
            </div>
            <!--설정 네비-->
            <div id="btn_settings" style="justify-content: space-between;">
                <img src="static/img/settings.png">
                <p><strong>설정관리</strong></p>
                <img src="static/img/down-arrow.png" id="down_arrow">
            </div>              
            <!--설정 내비 하위 설정들-->
            <div id="usr_manage" class="settings">
                <p><strong>회원 관리</strong></p>
            </div>
            <div id="object_num_manage" class="settings">
                <p><strong>오브젝트 항목 관리</strong></p>
            </div>
            <div id="object_manage" class="settings">
                <p><strong>오브젝트 관리</strong></p>
            </div>
            <div id="link_level_manage" class="settings">
                <p><strong>링크 레벨 관리</strong></p>
            </div>
            <div id="link_manage" class="settings">
                <p><strong>링크 관리</strong></p>
            </div>
        </div>
    </div>
    <div style="float:right;min-width:60%">
        <div id="nav2_scal">
            <div id="usr_manage_t" class="settings_top">
                <p><strong>회원 관리</strong></p>
            </div>
            <div id="object_num_manage_t" class="settings_top">
                <p><strong>오브젝트 항목 관리</strong></p>
            </div>
            <div id="object_manage_t" class="settings_top">
                <p><strong>오브젝트 관리</strong></p>
            </div>
            <div id="link_level_manage_t" class="settings_top">
                <p><strong>링크 레벨 관리</strong></p>
            </div>
            <div id="link_manage_t" class="settings_top">
                <p><strong>링크 관리</strong></p>
            </div>
        </div>
    {% block content %}{% endblock %}
    </div>
</body>
</html>