{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	{% block css %}
	<link href="{% static 'css/objectView.css' %}" rel="stylesheet" type="text/css" >
	{% endblock %}
	<title>오브젝트 등록</title>
</head>

<body>
	{% block content %}
	{% if is_autenticated %}
	gogo
	{% endif %}
	<p id="objectView.html"></p>
	<div class="main">
		<div class="container">
			<div class="list-con">
				<ul class="sublist-tab">
					<li class="moving-tab" id="horizontal-tab"></li>
					<li class="sl-st" onclick="sublistTab(0)" style="margin-right:25px;">
						<a href="/objectList">오브젝트 목록</a>
					</li>
					<li class="sl-st" onclick="sublistTab(1)">
						<a href="/objectBatch">일괄등록 목록</a>
					</li>
				</ul>
				<div class="table-list">
					<div class="tbtop-con">
						<h3>오브젝트 수정</h3>
					</div>
					<div class="table-wrap">
						<table class="common-table objr-table">
							<colgroup>
								<col width="35%"/>
								<col width="65%"/>
							</colgroup>
							<thead>
								<tr>
									<th><span>이미지</span></th>
									<th><span>오브젝트</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div style="border-right:1px solid #C7CDD8; height:300px;">
											<input type="file" id="imgUpload" class="img-upload" accept="image/*" onchange="realUpload(this)">
											<label type="button" class="img-regist" for="imgUpload">
												<img id="img-regist" src="{% static 'img/img-regist.png' %}" alt="">
											</label>
											<p class="rgbtn-txt">클릭하여 이미지를 등록해주세요</p>
										</div>
									</td>
									<td class="obji-wrap">
										<ul class="obj-inf">
											<li>
												<div class="inf-tbox">이름</div>
												<input type="text">
											</li>
											<li>
												<div class="inf-tbox">성별</div>
												<select>
													<option value="">남성</option>
													<option value="">여성</option>
												</select>
											</li>
											<li>
												<div class="inf-tbox">소속</div>
												<input type="text">
											</li>
											<li>
												<div class="inf-tbox">주소</div>
												<input type="text">
											</li>
											<li>
												<div class="inf-tbox">활성화 여부 선택</div>
												<select>
													<option value="">Y</option>
													<option value="">N</option>
												</select>
											</li>
										</ul>
									</td>     
								</tr>
							</tbody>
						</table>
					</div>

					<!-- 하단버튼 -->
					<div class="btn-wrap">
						<button type="button" class="main-btn common-btn">저장</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
{% block js %}
<script src="{% static 'js/objectView.js' %}"></script>
{% endblock %}
</html>