{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	{% block css %}
	<link href="{% static 'css/objectList.css' %}" rel="stylesheet" type="text/css" >
	{% endblock %}
	<title>오브젝트 관리</title>
</head>
<body>
	{% block content %}
	<!-- 비활성화  -->
	<p id="objectList.html"></p>
	<div id="disabledModar" class="modar-bk">
		<div class="modar-wrap disabled-md">
			<div class="modar-header">
				<p>비활성화</p>
				<div onclick="closeModal2();" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
			</div>	
			<div class="modar-con">
				<h2 style="margin-bottom:20px;">모든 오브젝트에서 해당 필드가 비활성화 됩니다.<br>계속하시겠습니까?</h2>
				<div class="mdbtn-wrap">
					<button onclick="closeModal2();" id="cancelBtn">취소</button>
					<button id="delectBtn">삭제</button>
				</div>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="container">
			<div class="list-con">
				<ul class="sublist-tab">
					<li class="moving-tab" id="horizontal-tab"></li>
					<li class="sl-st" onclick="sublistTab(0)" style="margin-right:25px;">
						<a href="/objectList">오브젝트 목록</a>
					</li>
				</ul>
				<div class="table-list">
					<div class="tbtop-con">
						<h3>오브젝트 목록</h3>
						<div class="rsh-sort">
							<div class="serch-box">
								<input type="text" placeholder="검색어를 입력하세요.">
							</div>
						</div>
					</div>
					<div class="table-wrap">
						<table class="common-table retouch-table">
							<colgroup>
								<col width="7%"/>
								<col width="7%"/>
								<col width="15%"/>
								<col width="8%"/>
								<col width="10%"/>
								<col width="28%"/>
								<col width="12%"/>
								<col width="12%"/>
							</colgroup>
				
							<thead>
								<tr>
									<th><span class="th-check"><input type="checkbox" name="selectBox" onclick="selectAll(this)"></span></th>
									<th><span>번호</span></th>
									<th><span>이름</span></th>
									<th><span>성별</span></th>
									<th><span>학번</span></th>
									<th><span>전공</span></th>
									<th><span>등록일</span></th>
									<th><span>휴학 여부</span></th>
								</tr>
							</thead>
							<tbody>
								<tr onclick="location.href='/objectView'">
									<td><input type="checkbox" name="selectBox"></td>
									<td>1</td>
									<td>Ironman</td>                                   
									<td>남성</td>                                    
									<td>2024042000</td> 
									<td>The school of computer science</td> 
									<td>2024-01-01</td> 
									<td>N</td>   
								</tr>
							</tbody>
						</table>
					</div>
					<div class="pagenation">
						<img src="/static/img/test-pn.png" alt="">
					</div>
		
					<!-- 하단버튼 -->
					<div class="btn-wrap">
						<button type="button" class="sub-btn common-btn" style="background-color : blue;color:white" id="levelAll">등록</button>
						<button type="button" class="sub-btn common-btn" onclick="disabledBtn();">비활성화</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
{% block js %}
<script src="{% static 'js/objectList.js' %}"></script>
{% endblock %}
</html>

