{% extends 'navVertical.html' %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	{% block css %}
	<link href="{% static 'css/objectList.css' %}" rel="stylesheet" type="text/css" >
	{% endblock %}
	<title>오브젝트 관리</title>
</head>
<body>
	{% block content %}
	<!-- 비활성화  -->
	<p id="objectList.html"></p>
	<div id="disabledModar" class="modar-bk">
		<div class="modar-wrap disabled-md">
			<div class="modar-header">
				<p>비활성화</p>
				<div onclick="closeModal2();" class="close-btn"><img src="/static/img/close-icon.png" alt=""></div>
			</div>	
			<form action = "{% url 'mainpages:deleteMember' %}" method="POST">
			{% csrf_token %}
			<div class="modar-con">
				<h2 style="margin-bottom:20px;">선택한 모든 오브젝트가 삭제됩니다.<br>계속하시겠습니까?</h2>
				<div class="mdbtn-wrap">
					<button onclick="closeModal2();" id="cancelBtn">취소</button>
					<button type = "submit" id="delectBtn">삭제</button>
				</div>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="container">
			<div class="list-con">
				<ul class="sublist-tab">
					<li class="moving-tab" id="horizontal-tab"></li>
					<li class="sl-st" onclick="sublistTab(0)" style="margin-right:25px;">
						<a href="/objectList">오브젝트 목록</a>
					</li>
				</ul>
				<div class="table-list">
					<div class="tbtop-con">
						<h3>오브젝트 목록</h3>
						<div class="rsh-sort">
							<div class="serch-box">
								<input type="text" placeholder="검색어를 입력하세요.">
							</div>
						</div>
					</div>
					<div class="table-wrap">
						<table class="common-table retouch-table">
							<colgroup>
								<col width="7%"/>
								<col width="7%"/>
								<col width="15%"/>
								<col width="8%"/>
								<col width="10%"/>
								<col width="28%"/>
								<col width="12%"/>
								<col width="12%"/>
							</colgroup>
				
							<thead>
								<tr>
									<th><span class="th-check"><input type="checkbox" name="selectBox" onclick="selectAll(this)"></span></th>
									<th><span>번호</span></th>
									<th><span>이름</span></th>
									<th><span>성별</span></th>
									<th><span>학번</span></th>
									<th><span>전공</span></th>
									<th><span>등록일</span></th>
									<th><span>휴학 여부</span></th>
								</tr>
							</thead>
							
							<tbody>
								{% for member in members %}
								<tr>
									<td><input type="checkbox" name="selectBox" value="{{forloop.counter0}}"></td>
									<td onclick="location.href='/objectView/{{member.id}}'">{{forloop.counter}}</td>
									<td onclick="location.href='/objectView/{{member.id}}'">{{member.name}}</td>                                   
									<td onclick="location.href='/objectView/{{member.id}}'">{{member.gender}}</td>                                    
									<td onclick="location.href='/objectView/{{member.id}}'">{{member.studentID}}</td> 
									<td onclick="location.href='/objectView/{{member.id}}'">{{member.department}}</td> 
									<td onclick="location.href='/objectView/{{member.id}}'">{{member.createrd_at}}</td> 
									<td onclick="location.href='/objectView/{{member.id}}'">{{member.notSchool}}</td>   
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="pagenation">
							<ul style="margin:15px; display:flex; justify-content:center; list-style: none; font-size: 20px;">
								{% if members.has_previous %}
								<li style="margin:5px;"><a style="text-decoration:none; color: #2B72FF;" href="?page={{members.previous_page_number}}">&#10094;</a></li>
								{% endif %}

								{% for page in members.paginator.page_range %}
								{% if page == members.number %}
									<li style="margin:5px;"><a style="text-decoration:none; color: white; background-color: #2B72FF; padding:5px; border-radius:5px" href="?page={{page}}">{{page}}</a></li>
								{% else %}
									<li style="margin:5px;"><a style="text-decoration:none; color: #2B72FF;" href="?page={{page}}">{{page}}</a></li>
								{% endif %}
								{% endfor %}

								{% if members.has_next %}
								<li style="margin:5px;"><a style="text-decoration:none; color: #2B72FF;" href="?page={{members.next_page_number}}">&#10095;</a></li>
								{% endif %}

							</ul>
						</div>
					</div>
		
					<!-- 하단버튼 -->
					<div class="btn-wrap">
						<button type="button" class="sub-btn common-btn" id="object_register" style="background-color : #2B72FF; color:white" id="levelAll">등록</button>
						<button type="button" class="sub-btn common-btn" onclick="disabledBtn();">삭제</button>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
{% block js %}
<script src="{% static 'js/objectList.js' %}"></script>
{% endblock %}
</html>